---
import { getCollection } from "astro:content";
import Card from "../components/Card.astro";
import Footer from "../components/Footer.astro";
import GridContent from "../components/GridContent.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";

const allBlogs = await getCollection("blog");
---

<Layout
  id="blog"
  title="moriken web"
  description="もりけんのポートフォリオサイトです。"
>
  <main>
    <Header />
    <section class="mx-auto max-w-[1440px] px-5 pt-96 md:px-10">
      <Card>
        <div class="flex justify-center">
          <div class="max-w-[1040px] p-10">
            <div class="mb-16">
              <h1 class="page-title">Blog</h1>
              <p class="page-description">
                なんでもブログです。技術、勉強、趣味、etc..
              </p>
            </div>
            <section class="card-content-wrap">
              {
                allBlogs.map(blog => (
                  <GridContent
                    page="blog"
                    slug={blog.slug}
                    title={blog.data.title}
                    tags={blog.data.tags}
                    thumbnail={blog.data.thumbnail}
                    externalLink={blog.data.externalLink}
                  />
                ))
              }
            </section>
          </div>
        </div>
      </Card>
    </section>
    <Footer />
  </main>
</Layout>

<style>
  .page-title {
    @apply mb-10 text-center font-emphasis text-7xl font-bold text-emphasis md:text-8xl;
  }
  .page-description {
    @apply text-center font-emphasis text-[1.4rem] font-bold md:text-3xl;
  }
  .card-content-wrap {
    @apply grid grid-cols-1 gap-10 sm:grid-cols-2;
  }
</style>
