---
interface Props {
  title: string;
  description: string;
  id: string;
}

const { title, description, id } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
  <head prefix="og: https://ogp.me/ns#">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="format-detection" content="telephone=no" />

    <!-- favicon/webclipicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <!-- ogp -->
    <meta property="og:site_name" content="moriken web" />
    <!-- TODO: get domain -->
    <meta property="og:url" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <!-- TODO: add image -->
    <meta property="og:image" content="/img/cat.webp" />
    <meta property="og:locale" content="ja_JP" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="" />
    <meta name="twitter:description" content={description} />
    <!-- TODO: add image -->
    <meta name="twitter:image:src" content="/img/cat.webp" />

    <!-- TODO: Google tag (gtag.js) -->
  </head>
  <body id={id}>
    <div class="cover"></div>
    <slot />
  </body>
</html>
<style is:global>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: #212e58;
    transition: opacity 0.1s ease-in-out;
  }
  a:not(.disabled):hover {
    opacity: 0.6;
  }

  a,
  area,
  button,
  [role="button"],
  input:not([type="range"]),
  label,
  select,
  summary,
  textarea {
    touch-action: manipulation;
  }
  html {
    font-family: system-ui, sans-serif;
    font-size: 62.5%;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  body {
    font-size: 1.5rem;
    font-weight: 350;
    color: #212e58;
    line-height: 1.6;
    background: #fff;
    /* font-family: "KozGoPr6N-Medium", sans-serif; */
    caret-color: transparent;
  }
  .cover {
    @apply absolute inset-x-0 z-[-1] h-[30rem] w-full bg-[url('/img/onomichi.webp')] bg-cover bg-center bg-no-repeat shadow-lg;
  }
</style>
